<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Reference
Version    : 1.0
Released   : 20081110
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href=""/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="s9ZqYqVffU8u01xbJK30H3fwha6eofs7Cu1ZUJ79gWM" />
<title>{% block title %}{% endblock %}{{ settings.SITE_TITLE }}</title>
<link href="/feed/" rel="alternate" title="{{ settings.SITE_TITLE }}" type="application/atom+xml" />
{% if keywords %}<meta name="keywords" content="{{ keywords }}" /> {% endif %}
{% if page.description %} <meta name="description" content="{{ page.description }}" /> {% endif %}
<link href="/static/douban/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/douban/css/thickbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/douban/js/jquery.js"></script>
<script type="text/javascript" src="/static/douban/js/thickbox.js"></script>
<script type="text/javascript" src="/static/douban/js/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){  
  nowtime();
});

function nowtime(){
      var time = ['子时', '丑时', '寅时', '卯时', '辰时', '巳时', '午时', '未时', '申时', '酉时', '戌时', '亥时'];
      var text = ['夜半销魂，谁人歌', '雄鸡未鸣，身未起', '风雨如晦，平旦出', '旭日东升，无往复', '君子勿劳，朝食饱', '鸡栖于莳，河清定', '善行无迹，恒德足', '日过中天，骄未散 ', '哺鹊进食，斜阳归', '鸡栖于埘，日沉坡', '日暮将至，归田园', '人定归本，早安眠'];
      hour = new Date().getHours();
      hourx = Math.ceil(hour/2);
      if (hourx == 12) { hourx = 0; }  
      var text="<strong>"+time[hourx]+"</strong>&nbsp;&nbsp;"+text[hourx];
      $('span.nowtime').html(text);
}
</script>
</head>

<body>
<div id="topnav">
  <div class="left">
  <span class="nowtime"></span>
  </div>
  <div class="right">
      <a href="#">欢迎您,{% if request.user.is_authenticated %}{{ request.user }}{% else %}访客</a>{% endif %}
    <a href="/feed/" target="_blank" title="使用RSS2.0订阅本站">订阅</a>
    {% if settings.DOUBAN %}<a href="http://www.douban.com/people/T-y/" target="_blank" title="去围观{{ settings.SITE_AUTHOR }}的豆瓣">豆瓣</a>{% endif %}
    {% if settings.WEIBO %}<a href="http://weibo.com/tyminiblog2010" target="_blank" title="去围观{{ settings.SITE_AUTHOR }}的新浪微博">微博</a>{% endif %}
    {% if request.user.is_authenticated %}<a href="/admin/logout/">登出</a>{% endif %}
  </div>
</div><!-- end topnav-->
<div id="header" class="blue">
  <div class="logo">
    <a href="/"><img src="/static/douban/images/logo.png" title="{{ settings.SITE_TITLE }}-{{ settings.SITE_DESC }}" />
    </a>
  </div>  
  <div id="menu">
    <ul>
      <li><a href="/" hidefocus>首页</a></li>
      <li><a href="/links/" hidefocus>友链</a></li>
	  {% load helper %}
	  {% getnavas navs %}
	  {% for i in navs %} <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li> {% endfor %}
      <!--
      <li>  
      <span class="absolute" id="search">
        <input type="text" class="search_inbox" size="32" maxlength="29" />
        <input type="submit" class="button search" value=" "  hidefocus  /> 
      </span> 
      </li>
      -->
    </ul> 
  </div><!-- end menue-->
</div><!-- end header -->
<div id="wrapper">
<div id="page">
  <div id="content">
    {% block content %}{% endblock %}
  </div><!-- end content -->
      
  <div id="sidebar">{% block sidebar %}{% endblock %}</div><!-- end sidebar -->
  <div style="clear: both;">&nbsp;</div>
</div>
</div><!-- end page -->
<!-- start footer -->
<script type="text/javascript">
function totop(){
  $( 'html, body' ).animate( { scrollTop: 0 }, 600 );
}
</script>
<div class="footer" id="wrapper">
  <div class="footerl">&copy; 2010-2011 T-Y.ME POWERED BY <a target="_blank" href="https://github.com/tianyu0915/djblog">DJBLOG</a></div>
    <div class="footerr">
  <a href="#" title="如果你在浏览小站的时候发现了BUG，请告诉我。">BUG报告</a>
  <a href="#">手机访问</a>
  <a href="#">版权声明</a>
  <a href="javascrtipt:void(0)" onclick="totop()">回到顶部</a>  
  </div>
</div>
<!-- end footer -->
</body>
</html>
